body {
  background-color: #fff;
  font-family: 'Roboto', sans-serif; }

.container {
  width: 940px; }

img {
  max-width: 100%; }

.button {
  font-size: 14px;
  background-color: #fd9c28;
  border: none;
  color: #ffffff;
  padding: 13px 22px;
  border-radius: 5px;
  outline: none; }
  .button:hover {
    background-color: #fda841;
    cursor: pointer; }
  .button img {
    vertical-align: middle; }

.header {
  padding: 15px 0; }
  .header_contacts {
    display: flex;
    justify-content: flex-end;
    align-items: center; }
    .header_contacts__phone {
      font-size: 22px;
      margin-right: 27px; }
